:root {
  --black: #131711;
  --white:  #e6ecf0;
  --brightWhite: #fafafa;
  --blue: #18acc3;
  --yellow: #fef7e0;
  --orange: #e37222;
  --red: #e0245e;
  --gray: #535961;
  --lightGray: #ccc;
  --linkBlue: #41abeb;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none !important;
}

html {
  overflow-y: scroll;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
  color: var(--black);
  overflow: hidden;
  padding-bottom: 50px;
}

.splashWrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2C3E50;
  background: -webkit-linear-gradient(to left, #4CA1AF, #2C3E50);
  background: linear-gradient(to left, #4CA1AF, #2C3E50);
  padding: 50px 0;
  box-sizing: border-box;
}

.loginWrapper {
  color: var(--white);
  width: 90%;
  max-width: 500px;
  flex: 1;
}

.loginHeader {
  background: rgba(0, 0, 0, .75);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 20px 20px 10px 20px;
}

.loginLogo {
  text-align: center;
}

.loginTitle {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 10px;
}

.loginFormWrapper {
  background: rgba(0, 0, 0, .6);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 20px;
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
}

.loginFormLabel {
  margin-bottom: 3px;
}

.loginInput {
  background: var(--yellow);
  border: none;
  border-radius: 3px;
  height: 15px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
}

.loginButton {
  background: var(--blue);
  border: none;
  border-radius: 3px;
  height: 35px;
  color: var(--brightWhite);
  font-size: .8em;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.loginFormError {
  position: absolute;
  bottom: 95px;
  color: var(--yellow);
  left: 5px;
}

.loginLogoTitle {
  position: relative;
  font-size: 4em;
  font-size: 700;
  font-family: 'Roboto Condensed', sans-serif;
}

.splashLogo {
  position: relative;
  height: 60px;
  bottom: -8px;
  left: -5px;
}

.loginLogoDescription {
  position: relative;
  font-style: italic;
  font-size: .9em;
  top: -10px;
  right: -15px;
}

.loginFirstTime {
  margin-top: 50px;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

.loginButtonWrapper {
  position: relative;
}

.loginError {
  position: absolute;
  bottom: -20px;
}

.btn:hover {
 background: #1699ad;
}

.navWrapper {
  width: 100%;
  height: 50px;
  background: var(--brightWhite);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navInnerWrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.marginRight {
  left: -10px;
}

.navLeftWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  flex: 1;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLink {
  margin-right: 25px;
  font-weight: 700;
  cursor: pointer;
}

.navLinkActive {
  margin-right: 25px;
  font-weight: 700;
  cursor: pointer;
  color: var(--blue);
}

.navLink:hover, .navLogout:hover {
  color: var(--blue);
}

.navLogout {
  font-weight: 700;
  cursor: pointer;
}

.navLogo {
  width: 40px;
  cursor: pointer;
}

.navPostWrapper {
  flex: 1;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navPost {
  width: 100px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--brightWhite);
  font-weight: 700;
  font-size: .9em;
  height: 40px;
  cursor: pointer;
  margin-right: 25px;
}

.navPost:hover {
  background: #1699ad;
}

.mainWrapper {
  position: relative;
  top: 50px;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: flex-start;
}

.profileCardWrapper {
  width: 243px;
  margin-left: 0;
  position: fixed;
  z-index: 5;
}

.profileCardInnerWrapper {
  background: var(--brightWhite);
}

.profileCardImg {
  width: 100%;
  height: 243px;
  object-fit: cover;
}

.profileCardInfoWrapper {
  padding: 10px;
}

.profileCardNameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileCardFullName {
  font-size: 1.3em;
  font-weight: 700;
}

.profileCardFollowButton {
  padding: 6px 12px;
  font-size: .9em;
  outline: none;
  color: var(--brightWhite);
  background: var(--blue);
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.profileCardContactWrapper {
  margin: 20px 0;
}

.profileCardContact {
  margin-bottom: 10px;
  color: var(--gray);
  cursor: pointer;
}

.profileCardLocation {
  color: var(--gray);
}

.far {
  margin-right: 5px;
}

.fa-map-pin {
  margin-right: 9px;
}

.profileCardPostsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.profileCardInnerCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.profileCardHeading {
  font-size: .9em;
  font-weight: 700;
  color: var(--blue);
  cursor: pointer;
}

.profileCardNumbers {
  font-weight: 700;
}

.editWrapper {
  background: var(--brightWhite);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.editButton {
  outline: none;
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  width: 100%;
  padding: 6px 12px;
  background: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  cursor: pointer;
}

.searchBoxInputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.searchBoxInput {
  outline: none;
  border: 1px solid var(--lightGray);
  border-radius: 20px;
  width: calc(100% - 16px);
  padding: 8px;
  background: var(--white);
}

.fa-search {
  position: absolute;
  bottom: 9px;
  right: 10px;
  color: var(--lightGray);
  cursor: pointer;
}

.postsWrapper {
  position: relative;
  width: calc(73% - 10px);
  margin-left: auto;
  cursor: pointer;
}

.postWrapper:hover {
  background: #f5f8fa;
}

.noScroll {
  overflow: hidden;
  margin-right: 17px;
}

.postTextWrapper {
  width: 100%;
}

.postMainWrapper {
  background: var(--brightWhite);
  margin-bottom: 12px;
}

.postMainWrapper:hover > .postWrapper {
  background: #f5f8fa;
}

.postWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--brightWhite);
}

.postHeadingWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.postImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--lightGray);
}

.postHeadingTextWrapper {
  margin: 5px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.postHeadingTextFullName {
  font-weight: 700;
  font-size: 1.1em;
}

.postHeadingSelectedTextFullName {
  font-weight: 700;
  font-size: 1.3em;
}

.postHeadingTextUserName {
  color: var(--gray);;
  font-size: .9em;
}

.postHeadingTextTime {
  position: relative;
  font-weight: 400;
  font-size: .9em;
}

.postText {
  white-space: pre-wrap;
  width: 100%;
  overflow-x: auto;
}

.postSelectedText {
  font-size: 1.5em;
  white-space: pre-wrap;
  overflow-x: auto;
  width: 100%;
}

.likesWrapper {
  width: 100%;
  background: var(--brightWhite);
}

.likesInnerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0 12px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--lightGray);
}

.likesHeart {
  color: var(--gray);
  cursor: pointer;
}

.likesHeartUserLikes {
  color: var(--red);
  cursor: pointer;
}

.likesComment {
  cursor: pointer;
  color: var(--gray);
}

.postLikesWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.postLikes, .postComment {
  cursor: pointer;
  font-size: .9em;
  color: var(--gray);
  font-weight: 700;
}

.postLikes:hover {
  color: var(--red);
}

.postComment:hover {
  color: var(--blue);
}

.postUserLikes {
  cursor: pointer;
  color: var(--red);
  font-weight: 700;
}

.newPostWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.newPostInnerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.newPostBlackoutWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 50;
}

.newPostImg {
  width: 60px;
  border-radius: 50%;
  border: 1px solid var(--lightGray);;

}

.newPostTextWindow {
  margin-top: 10vh;
  width: 600px;
  height: 275px;
  background: var(--white);
  border-radius: 10px;
}

.newPostWindowHeaderWrapper {
  position: relative;
  height: 50px;
  background: var(--brightWhite);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPostWindowHeader {
  font-weight: 700;
  font-size: 1.2em;
}

.newPostWindowClose {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.newPostWindowPostWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
}

.newPostTextArea {
  width: 95%;
  height: 130px;
  margin-left: 20px;
  resize: none;
  background: var(--brightWhite);
  border-radius: 10px;
  border: 1px solid var(--blue);
  padding: 8px;
  box-sizing: border-box;
}

.newPostButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.newPostButton {
  margin-right: 20px;
  outline: none;
  border: none;
  background: var(--blue);
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: .9em;
  color: var(--white);
  cursor: pointer;
}

.newPostButton:hover {
  background: #1699ad;
}

.searchWrapper {
  max-width: 900px;
  margin: 60px auto 0 auto;
}

.searchInnerWrapper {
  background: var(--brightWhite);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.searchLeftWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--lightGray);
}

.searchInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  margin: 10px 0 0 20px;
}

.searchName {
  font-size: 1.1em;
  font-weight: 700;
  color: var(--blue);
}

.searchUserName, .searchLocation {
  color: var(--black);
}

.searchRightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  padding: 6px 12px;
  font-size: .9em;
  outline: none;
  color: var(--brightWhite);
  background: var(--blue);
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.exploreWrapper {
  position: relative;
  top: 50px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.exploreHeader {
  font-size: 1.3em;
  font-weight: 700;
  width: 100%;
  margin: 10px 0 10px 0;
}

.exploreUserWrapper {
  display: grid;
  grid-template-columns: repeat(3, calc(33.3% - 6.66px));
  grid-gap: 10px;
  overflow-x: hidden;
}

.exploreInnerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--brightWhite);
}

.exploreImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.exploreImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid var(--lightGray);
  border-radius: 50%;
}

.exploreFullName {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 700;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background: rgba(0, 0, 0, .7);
  z-index: 50;
}

.modalWindowWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.modalWindow:after {
  content: "";
  display: block;
  height: 100px;
  width: 100%
}

.modalWindow {
  margin: 10vh 0;
  width: 600px;
}

.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: var(--white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid var(--lightGray);
  padding: 12px;
  box-sizing: border-box;
}

.addCommentHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--lightGray);
  font-size: 1.2em;
  font-weight: 700;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.addCommentClose {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.addCommentFooter {
  background: var(--white);
  border-top: 1px solid var(--lightGray);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.addCommentFooterTop {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 10px 10px 0 10px;
  color: var(--gray);
}

.addCommentFooterMiddle {
  padding: 10px;
}

.addCommentFooterMiddleTextArea {
  resize: none;
  background: var(--brightWhite);
  width: 100%;
  height: 130px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  padding: 8px;
  box-sizing: border-box;
}

.addCommentFooterBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.commentHeadingTextWrapper {
  margin: 5px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.commentHeadingFullName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 1em;
}

.commentHeadingTextUserName, .commentHeadingTextTime {
  color: var(--gray);;
  font-size: .9em;
  margin-left: 5px;
  font-weight: 400;
}

.commentTextReplyTo {
  font-size: 1em;
  color: var(--gray);
}

.commentReplyUsername {
  color: var(--linkBlue);
}

.commentReplyUsername:hover {
  text-decoration: underline;
}

.commentButton {
  margin-right: 0;
}

.commentsWrapper {
  width: 100%;
  background: var(--brightWhite);
}

.commentsMainWrapper {
  background: var(--brightWhite);
  cursor: pointer;
  border-top: 1px solid var(--lightGray);
}

.editForm {
  display: flex;
  flex-direction: column;
}

.editFormLabel {
  font-size: .9em;
  margin-bottom: 3px;
}

.editInput {
  background: var(--white);
  font-size: .8em;
  border: none;
  border-radius: 3px;
  height: 15px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
}

.editInput:-webkit-autofill,
.editInput:-webkit-autofill:hover, 
.editInput:-webkit-autofill:focus, 
.editInput:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}