body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e6ecf0;
  color: #131711;
}

.splashWrapper {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin: 100px auto;
  background: #3b5999;
  text-align: center;
  padding: 50px;
  color: #e6ecf0;
}
